@import url('https://fonts.google.com/specimen/Inter');
body {
  display: flex;
  flex-direction: column;
  width: 63vw;
  margin: 0 auto;
  font-family: Inter;
  font-size: 15px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}
.nav-menus {
  display: flex;
  gap: 1.2em;
}
li {
  list-style: none;
  color: gray;
}
.main-wrapper {
  display: flex;
  margin-top: 1.2em;
  gap: 2vw;
}
.sub-wrapper1 {
  width: 55vw;
  h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 10px;
    width: 500px;
  }
  p {
    color: gray;
    text-align: left;
  }
  img {
    height: 25vh;
    width: 100%;
  }
  .content-wrapper {
    display: flex;
    gap: 10px;
  }
  button {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 3em;
    background-color: rgb(165, 53, 53);
    border: none;
    color: white;
    padding: 0 2em;
    font-size: 0.7em;
  }
}
.sub-wrapper2 {
  background-color: hsl(240, 100%, 5%);
  padding: 0 10px;
  h2 {
    margin: 10px 0;
    color: hsl(35, 77%, 62%);
  }
  h5 {
    color: hsl(36, 100%, 99%);
    margin: 5px 0;
  }
  span {
    color: white;
    font-size: 9px;
  }
  div {
    margin: 1em 0;
    border-bottom: 1px solid gray;
  }
}
